asset_dirs:
  - assets
  - ~/games/minecraft/assets

stuffable_color_corr: 192

render_types:
  block/(pumpkin|carved_pumpkin|jack_o_lantern|melon)$: table
  block/.*(beehive|bee_nest): table
  block/.*barrel: table
  block/.*bookshelf: table
  block/.*brewing_stand: flat
  block/.*campfire: side_south
  block/.*carpet$: flat
  block/.*cauldron: table_noborder
  block/.*dispenser: table
  block/.*dragon_egg: side_south
  block/.*dropper: table
  block/.*farmland: flat
  block/.*fence: side_south
  block/.*furnace: table
  block/.*glass$: flat
  block/.*glazed_terracotta: flat
  block/.*hay_block: table
  block/.*item_frame: side_south
  block/.*jukebox: table
  block/.*loom: table
  block/.*note_block: table
  block/.*observer: table
  block/.*piston: table
  block/.*portal_frame: table
  block/.*redstone_lamp: table
  block/redstone_dust.*: side_south
  block/.*respawn_anchor$: table
  block/.*respawn_anchor: table
  block/.*scaffolding_stable: table
  block/.*sculk_shrieker: table
  block/.*smoker: table
  block/.*stonecutter: table
  block/.*table: table
  block/.*tnt: table
  block/.*torch: side_south
  block/.+_log$: table
  block/bamboo_block_z: 3d_diagonal
  block/.+_log_horizontal$:
    "": log_horizontal
    _diagonal: 3d_diagonal
  block/stuffable_planks$:
    "": flat
    _3d: cube
    _block: table
  block/stuffable:
    "": flat
    _block: table
  block/.*planks$:
    "": flat
    _3d: cube
    _block: table
  block/beacon: table
  block/comparator: flat
  block/composter$: table
  block/potted_: side_south
  block/repeater: flat
  block/daylight_detector.*: table
  block/(diamond|gold)_block:
    "": table
  block/.*_block: table
  block/stone:
    "": flat
    _block: table
    _block_stuffable: [table, to_stuffable]

ignore:
  - block/air$
  - block/bell
  - block/block$
  - block/(banner|bed|chest)$ # rendered as an entity
  - block/light_\d
  - block/template
  - block/stem_growth
  - block/stripped
  - block/orientable
  - block/piston_base   # manual
  - block/piston_head   # manual
  - block/repeater_on   # manual
  - block/tripwire_hook # manual
  - _[nsew]+$
  - _alt$
  - _door_bottom
  - _door_top
  - _inventory$
  - _open$ # opened doors/trapdoors
  - _stem$
  - cake
  - candle
  - chain
  - chiseled_bookshelf
  - chorus_plant_noside\d
  - composter_contents
  - dispenser_vertical
  - dropper_vertical
  - glass_pane_post
  - glass_pane_side
  - lectern
  - moving_piston$
  - pane_noside$
  - pressure_plate
  - sea_pickle
  - _sign$ # rendered as an entity
  - slab
  - stairs
  - turtle_egg
  - thin_block$
  - wall_(post|side)
  - wall_torch
  - button$
  - button_pressed$

manual:
  - RepeaterOn
  - TripwireHook
