assets_dir: ~/games/minecraft/assets
render_types:
  _log$: table
  _log_horizontal$: log_horizontal
  barrel: table
  beacon: table
  beehive|bee_nest: table
  bookshelf: table
  brewing_stand: flat
  carpet$: flat
  cauldron: table_noborder
  ^composter$: table
  campfire: side_south
  ^potted_: side_south
  dispenser: table
  dropper: table
  dragon_egg: side_south
  fence: side_south
  furnace: table
  glass$: flat
  glazed_terracotta: flat
  hay_block: table
  item_frame: side_south
  farmland: flat
  jukebox: table
  loom: table
  note_block: table
  observer: table
  piston: table
  portal_frame: table
  ^(pumpkin|carved_pumpkin|jack_o_lantern|melon)$: table
  redstone_lamp: table
  respawn_anchor$: table
  ^repeater: flat
  ^comparator: flat
  scaffolding_stable: table
  sculk_shrieker: table
  respawn_anchor: table
  smoker: table
  stonecutter: table
  table: table
  torch: side_south
  tnt: table

ignore:
  - ^air$
  - ^bell
  - ^block$
  - ^(banner|bed|chest)$ # rendered as an entity
  - ^light_\d
  - ^template
  - ^stem_growth
  - ^stripped
  - ^orientable
  - ^piston_base
  - ^piston_head
  - _[nsew]+$
  - _alt$
  - _door_bottom
  - _door_top
  - _inventory$
  - _open$ # opened doors/trapdoors
  - _stem$
  - cake
  - candle
  - chain
  - chiseled_bookshelf
  - chorus_plant_noside\d
  - composter_contents
  - dispenser_vertical
  - dropper_vertical
  - glass_pane_post
  - glass_pane_side
  - lectern
  - moving_piston$
  - pane_noside$
  - sea_pickle
  - _sign$ # rendered as an entity
  - slab
  - stairs
  - turtle_egg
  - wall_(post|side)
  - wall_torch
  - button$
  - button_pressed$
